.head {
    text-align: center;
}

body {
    background-color: black;
}

.head h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
}

.head .head-paragraph {
    font-size: 10px;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
}

.one,
.Two {
    float: left;
    width: 48%;
    padding: 0.5%;
}

.Two img {
    width: 100%;
}

.container:after {
    display: block;
    clear: both;
    content: "";
}

.container {
    margin-bottom: 30px;
}

.first-image img {
    width: 100px;
}

.fist-paragraph .first-image {
    float: left;
    width: 46%;
}

.container:after {
    content: "";
    clear: left;
    display: block;
}

.second-container:after {
    content: "";
    clear: left;
    display: block;
}

.third-Section img {
    width: 90%;
}

.third-Section {
    display: flex;
}

.third-Section img {
    margin-left: 15px;
}

.photographer {
    text-align: center;
}

p,
h1,
li {
    color: white;
}

ul {
    list-style-type: none;
    display: flex;
}

ul a {
    text-decoration: none;
    margin: 10px;
    color: black;
}

ul a:hover {
    background-color: rgb(112, 73, 1);
    padding: 10px;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: orange;
}

footer {
    background-color: orange;
}

footer p {
    color: black;
    text-align: center;
    padding: 10px;
}

.orange-contact {
    background-image: url("image/orange-background.jpg");
    width: 100%;
    height: 500px;
}

.orange-contact p,
address {
    text-align: center;
    /* margin: 50px 0px px 0px; */
    color: black;
}

.orange-contact .contact-paragraph {
    font-size: 50px;
}